body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	background-color: hsl(30, 38%, 92%);
	font-family: 'Montserrat', sans-serif;
	font-size: .875rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	max-width:37.5rem;
 	display: flex;
}

#left-div, #right-div {
	height: 28.125rem;
	width: 18.75rem;
	border-radius: .5rem 0 0 .5rem;
}

#left-div {
	background-image: url("image-product-desktop.jpg");
	background-size: contain;
}

#right-div {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0 .5rem .5rem 0;
}

#perfume {
	margin-top: 1.875rem;
  margin-right: 1.875rem;
  margin-bottom: 0;
  margin-left: 1.875rem;
	text-transform: uppercase;
	letter-spacing: .3125rem;
	color: hsl(228, 12%, 48%);
}

h1 {
	margin-top: 1.3rem;
    margin-right: 1.875rem;
    margin-bottom: 1.5rem;
    margin-left: 1.875rem;;
	font-family: 'Fraunces', serif;
	font-size: 2rem;
	line-height: 100%;
	color: hsl(212, 21%, 14%);
}

#floral {
	margin-top: 1.5rem;
	margin-right: 1.875rem;
	margin-bottom: 1.875rem;
	margin-left: 1.875rem;
	color: hsl(228, 12%, 48%);
	line-height: 163%;
}

#newprice {
	font-family: 'Fraunces', serif;
	font-size: 2rem;
	line-height: 100%;
	color: hsl(158, 36%, 37%);
}

#oldprice {
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
	margin-left: 1.25rem;
}

#prices {
	margin-top: 1.5625rem;
	margin-right: 1.875rem;
	margin-bottom: 0;
	margin-left: 1.875rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

button {
	width: 240px;
	margin-top: 1.7rem;
  margin-right: 1.875rem;
  margin-bottom: 0px;
  margin-left: 1.875rem;
	height: 3rem;
	border-radius: .625rem;
	color: #fff;
	background-color: hsl(158, 36%, 37%);
	font-family: 'Montserrat', sans-serif;
	border: none;
}

button:hover {
	background-color: #1a4031;
}

@media (max-width: 620px) {

  main {
    flex-direction: column;
    justify-content: center;
  }

  #left-div, #right-div {
		width: 21.375rem;
	}

  #left-div {
	background-image: url("image-product-mobile.jpg");
	background-repeat: no-repeat;
	height: 15rem;
	/*background-size: cover;*/
	border-radius: .5rem .5rem 0 0;
	}

	#right-div {
		border-radius: 0 0 .5rem .5rem;
		height: 23.125rem;
	}

	#perfume, h1, #floral {
	margin: 1rem 1.8rem;
	}

	button {
		width: 17.975rem;
		margin: 1.2rem 1.7rem;
	}

}

