body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	background-color: hsl(30, 38%, 92%);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	max-width:600px;
 	display: flex;
}

#left-div, #right-div {
	height: 450px;
	width: 300px;
	border-radius: 8px 0 0 8px;
}

#left-div {
	background-image: url("image-product-desktop.jpg");
	background-size: contain;
}

#right-div {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0 8px 8px 0;
}

#perfume, h1, #floral {
	margin: 30px;
}

#perfume {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: hsl(228, 12%, 48%);
}

h1 {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	line-height: 100%;
	color: hsl(212, 21%, 14%);
}

#floral {
	color: hsl(228, 12%, 48%);
	line-height: 150%;
}

#newprice {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	line-height: 100%;
	color: hsl(158, 36%, 37%);
}

#oldprice {
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
	margin-left: 20px;
}

#prices {
	margin: 25px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

button {
	width: 240px;
	margin: 0 30px;
	height: 48px;
	border-radius: 10px;
	color: #fff;
	background-color: hsl(158, 36%, 37%);
	font-family: 'Montserrat', sans-serif;
	border: none;
}

button:hover {
	background-color: #1a4031;
}

@media (max-width: 620px) {

  main {
    flex-direction: column;
    justify-content: center;
  }

  #left-div, #right-div {
		width: 342px;
	}

  #left-div {
	background-image: url("image-product-mobile.jpg");
	background-repeat: no-repeat;
	height: 239px;
	/*background-size: cover;*/
	border-radius: 8px 8px 0 0;
	}

	#right-div {
		border-radius: 0 0 8px 8px;
	}

	#perfume, h1, #floral {
	margin: 20px 30px;
	}

	button {
		margin: 0 30px 20px 30px;
	}

}

