body {
	background-color: #f2ebe3;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center; 
  	justify-content: center; 
  	height: 100vh;
}

#left-div, #right-div {
	height: 450px;
	width: 300px;
	border-radius: 8px 0 0 8px;
}

#left-div {
	background-image: url("image-product-desktop.jpg");
	background-size: contain;
}

#right-div {
	background-color: #fff;
	border-radius: 0 8px 8px 0;
}

#perfume, #gabrielle, #floral {
	margin: 30px;
}

#perfume {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #6c7289;
}

#gabrielle {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	line-height: 100%;
	color: #1d242c;
}

#floral {
	color: #6c7289;
	line-height: 150%;
}

#newprice {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	line-height: 100%;
	color: #3b8167;
}

#oldprice {
	text-decoration: line-through;
	color: #6c7289;
	margin-left: 20px;
}

#prices {
	margin: 25px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

button {
	width: 240px;
	margin: 0 30px;
	height: 48px;
	border-radius: 10px;
	color: #fff;
	background-color: #3b8167;
	font-family: 'Montserrat', sans-serif;
	border: none;
}

button:hover {
	background-color: #1a4031;
}

@media (max-width: 620px) {

  .container {
    flex-direction: column;
  }

  #left-div, #right-div {
		width: 342px;
	}

  #left-div {
	background-image: url("image-product-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0 0;
	}

	#right-div {
		border-radius: 0 0 8px 8px;
	}

	#perfume, #gabrielle, #floral {
	margin: 20px 30px;
	}

	button {
		margin: 0 30px 20px 30px;
	}

}